# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml
.mypy_cache/

# Docs build
docs/_build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
