interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.nwd-wc.usace.army.mil/dd/common/web_service/webexec/getjson?timezone=GMT&query=%5B%22LWSC.Elev-Lake.Ave.1Hour.0.NWSRADIO-RAW%22%5D&startdate=2026-04-18T00%3A00%3A00Z&enddate=2026-04-19T00%3A00%3A00Z
  response:
    body:
      string: "\n{\n   \"LWSC\": {\n      \"HUC\": \"\",\n      \"active_flag\": \"T\",\n
        \     \"coordinates\": {\n         \"datum\": \"WGS84\",\n         \"latitude\":
        47.6649153,\n         \"longitude\": -122.3945712\n      },\n      \"elevation\":
        {\n         \"accuracy\": 0.0,\n         \"datum\": \"NGVD29\",\n         \"method\":
        \"\",\n         \"value\": 20.0\n      },\n      \"location_type\": \" \",\n
        \     \"name\": \"Lake Washington Ship Canal\",\n      \"responsibility\":
        \"NWS\",\n      \"time_format\": \"%Y-%m-%dT%H:%M:%S%z\",\n      \"timeseries\":
        {\n         \"LWSC.Elev-Lake.Ave.1Hour.0.NWSRADIO-RAW\": {\n            \"active_flag\":
        1,\n            \"count\": 20,\n            \"duration\": \" \",\n            \"end_timestamp\":
        \"2026-04-18T20:00:00\",\n            \"interval\": \" \",\n            \"max_value\":
        21.83,\n            \"min_value\": 21.76,\n            \"notes\": \"(2001-2026)\",\n
        \           \"parameter\": \"Elev-Lake\",\n            \"quality_type\": \"int\",\n
        \           \"sigfig\": 3,\n            \"site_quality\": [],\n            \"start_timestamp\":
        \"2026-04-18T00:00:00\",\n            \"units\": \"FT\",\n            \"values\":
        [\n               [\n                  \"2026-04-18T00:00:00\",\n                  21.76,\n
        \                 0\n               ],\n               [\n                  \"2026-04-18T01:00:00\",\n
        \                 21.77,\n                  0\n               ],\n               [\n
        \                 \"2026-04-18T02:00:00\",\n                  21.78,\n                  0\n
        \              ],\n               [\n                  \"2026-04-18T03:00:00\",\n
     [...]
